PORT=3000

# MongoDB (elige uno)
# Local: mongodb://localhost:27017/premium_portal
# Atlas: mongodb+srv://usuario:password@cluster.mongodb.net/premium_portal
MONGO_URI=mongodb://localhost:27017/premium_portal

JWT_SECRET=tu_secreto_para_jwt_aqui_puedes_cambiarlo
